/* Only include custom styles that can't be easily done with Tailwind */
.about-img {
    position: relative;
}

.about-img .about-exp {
    position: absolute;
    width: 370px;
    height: 100%;
}

.about-img .about-exp span {
    display: inline-block;
    /*margin: 200px -115px;*/
    margin: 340px 28px;
    transform: rotate(-90deg);
    transform-origin: left;
}

.abt-img {
    position: relative;
    z-index: 10;
    padding: 30px 0 30px 60px;
}